/*RESET - Reseta o conteúdo do site - 05-02-2015 - 12:45*/
  
@import url(http://fonts.googleapis.com/css?family=Roboto);
* {
	margin:0; 
	padding:0;
}

body {
	
	background:url(../../admin2/images/bg-corpo.png) #e7ebf2;
	font-family: 'Roboto', sans-serif;

}
.box {
	margin:0 auto;
}


/*HEADER - Controla o conteúdo top do painel*/
.header {
	width:1000px; 
	height:150px; 
	margin:0 auto;
	background:#FFF;
	padding:5px;
	margin-bottom:10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.logo {
	width:248px;
	height:100px;
	margin:5px 0 15px 55px;
	float:left;
}
.slogan {
	float:right;
	font-size:20px; 
	color:#162A3A;
	margin:48px 45px 15px 0;
}

/*CONTENT - Controla as funções de boas vindas*/
.contentum {
	width:1000px;
	height:30px;
	margin:0 auto;
	border-bottom:1px solid #CCC; 
}
.contentum .boasvindas {
	float:left;
	font-size:15px; 
	color:#444;
	margin:3px 0 0 10px;
}
.contentum .btnhome {
	float:right; 
	padding:5px;
	margin:0 5px;
	background:#F90;
	border-radius:2px; 
	font-size:11px; 
	text-transform:uppercase;
	color:#FFF;
	text-shadow:1px 1px 1px #1D1C1C;
	text-decoration:none;
	opacity:1;
} 
.contentum .btnhome:hover {
	opacity:0.7;
}

/*DIV MÃE - Controla o conteúdo central do site*/
.mae {
	width:1000px;
	margin:0 auto 10px auto;
}

.mae h1 {
	width:800px;
	font-size:18px;
	color:#F00;
	margin:10px 0px 0 0;
	padding:2px 5px 4px 4px;
	margin-left:13px;
	z-index:99;
}

.content {
	width:800px;
	min-height:500px;
	float:left; 
	border:1px solid #DDD;
	margin:5px 5px 5px 0; 
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	background:#FFF;
}
.content h1 {
	width:770px;
	border-bottom:1px solid #CCC; 
	font-size:13px;
	color:#666;
	margin:5px 0 0 0;
	padding:2px 5px 4px 4px;
	margin-left:13px;
	z-index:99;
}
.content h2 {
	width:770px;
	font-size:12px;
	color:#666;
	margin:5px 0 0 0;
	padding:2px 5px 4px 4px;
	margin-left:13px;
	z-index:99;
}
.content .imagem {
	width:35px; 
	height:35px; 
	opacity:1;
	margin:15px 0 0 0;
}
.content .imagem:hover {
	opacity:0.5;
}
.content .btnnovo {
	float:left;
	background:#FFF;
	padding:2px;
	margin:2px 0 5px 20px;
	font-size:12px;
	color:#000;
	text-decoration:none;
	opacity:1;
	text-transform:uppercase;
} 
.content .btnnovo:hover {
	opacity:0.7;
}
.content input[type=button]{
    width:120px; 
	height:30px; 
	margin:15px 0 15px 5px;
	position:relative; 
	float:left;
	display:block; 
	background:#E90408;
	border-radius:8px; 
	font-size:12px;
	text-transform:uppercase;
	color:#FCFBFB;
	border:none;
}
.content input[type=button]:hover {
	cursor:pointer;
	border:none;
}

/*FORMS E TABLES - Controla o a formatação de tabelas e formulários do site*/
.content .formulario {
	padding:2px 5px 60px 2px; 
	margin:2px 5px 10px 2px; 
	width:770px;
	margin:5px auto; 
	bbackground:#FFF;
	border:1px solid #DDD;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.content .formulario h2 {
	width:610px;
	font-size:11px;
	color:#F90;
	margin:5px 0 0 0;
	padding:2px;
	z-index:99;
}
.content .formulario p {
	width:500px; 
	margin:2px 15px 4px 0;	
	
}
.content .formulario fieldset {
	border:1px;
}
.content .formulario label {
	margin-bottom:3px;
	font-size:11px; 
	margin:1px;
	padding:2px;
	display:block; 
}
.content .formulario span {
	margin:1px;
	padding:3px;
	font-size:12px;
	color:#000;
	margin-bottom:2px;
}
.content .formulario input{  
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	color:#636363;
	margin:1px;
	padding:4px;
	font-size:11px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 1px #f0f0f0;
	-webkit-box-shadow: 0px 0px 1px #f0f0f0;
	box-shadow: 0px 0px 1px #f0f0f0;
	width:auto;
}
.content .formulario select{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin:1px;
	padding:4px;
	font-size:11px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
	width:auto;
}
.content .formulario input[type=number]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin:1px;
	padding:4px;
	font-size:11px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
	width:auto;
}

.content .formulario input[type=checkbox]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin:1px;
	padding:4px;
	font-size:11px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
	width:auto;
}

.content .formulario textarea {	
    border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin:1px;
	padding:4px;
	font-size:11px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
	width:90%;
	
}

.content .formulario img{	
	margin:2px;
	padding:3px;
}

.content .formulario input[type=text]:hover,
.content .formulario input[type=password]:hover,
.content .formulario textarea:hover,
.content .formulario select:hover,
.content .formulario input[type=email]:hover,
.content .formulario input[type=date]:hover,
.content .formulario option:hover,
.content .formulario input[type=checkbox]:hover 
{
   	opacity: 0.7; 
	filter:alpha(opacity = 70);
}
.content .formulario input[readonly] {
	color:#F41418;
	font-size:11px;

}
.content .formulario select:disabled{
	color:#F41418;
	font-size:11px;

}
.content .formulario textarea:disabled{
	color:#F41418;
	font-size:11px;
}
.content .formulario input[type=text]:focus,
.content .formulario input[type=password]:focus {
  	opacity: 0.7; 
	filter:alpha(opacity = 70);
}

.content .formulario .enviar {
	width:120px; 
	height:30px; 
	margin:15px 0 15px 5px;
	position:relative; 
	float:left;
	display:block; 
	background:#F90;
	border-radius:20px; 
	font-size:12px;
	text-transform:uppercase;
	color:#FCFBFB;
	border:none;
}
.content .formulario .enviar:hover {
	cursor:pointer;
	border:none;
}
.content .formulario .enviar2 {
	width:120px; 
	height:30px; 
	margin:15px 0 15px 5px;
	position:relative; 
	float:left;
	display:block; 
	background:#E90408;
	border-radius:20px; 
 	font-size:12px;
	text-transform:uppercase;
	color:#FCFBFB;
	border:none;
}
.content .formulario .enviar2:hover {
	cursor:pointer;
	border:none;
}
.content .formulario input[type=button]{
	width:120px; 
	height:30px; 
	margin:15px 0 15px 5px;
	position:relative; 
	float:left;
	display:block; 
	background:#E90408;
	border-radius:20px; 
	font-size:12px;
	text-transform:uppercase;
	color:#FCFBFB;
	border:none;
}
.content .formulario input[type=button]:hover {
	cursor:pointer;
	border:none;
}
.content .formulario .pesquisar input[type=button]{
 	border:0; 
	float:none;
	padding:5px; 
	width:auto; 
	height:20px; 
	font-size:11px;
	border-radius:10px; 
	color:#FFF;
	background:#fd5c04;
	opacity: 1; 
	filter:alpha(opacity = 100);
}
.content .formulario input[type=file]{
	border:1px solid #EEE; 
	margin-top:5px;
	padding:5px;
	border-radius:10px;
	font:12px Arial, Helvetica, sans-serif; 
	color:#FFF;
	width:auto;
	background:#F90;
}

.content .formulario .link{
	color:#F80E12;
	width:auto;
	border-bottom:1px solid #EEE;
	padding:3px 0 5px 0;
}
.content .formulario a{
	text-decoration:none;
}
.content .formulario .link a:hover{
	background:#EEE;
	text-decoration:none;
}
.content .formulario input[type=button] .cep {
	border:0; 
	padding:5px; 
	float:right;
	width:auto; 
	height:15px; 
	font-size:11px;
	border-radius:2px; 
	color:#FFF;
	background:#fd5c04;
	opacity: 1; 
	filter:alpha(opacity = 100);
}
.content .boxtabela {
	width:750px;
	min-height:90px;
	margin:40px 5px 10px 10px;
	padding:2px;
	background:#FFF;
	font-size:10px;
	border:1px solid #DDD;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	display:block;
}
.content .boxtabela .boxbotao {
	width:700px;
	height:80px;
	padding:2px;
	background:#FFF;
	font-size:10px;
}
.content .boxtabela .boxbotao img{
	margin:-15px 5px 5px 5px;
	float:left;
}

.content .boxtabela .boxbotao  a{
	font-size:12px;
	text-align:center;
	margin:15px 5px 5px 5px;
}
.content .boxtabela h3 {
	width:700px;
	font-size:16px;
	color:#000;
	margin:5px 0 0 0;
	padding:2px 5px 4px 4px;
	margin-left:13px;
	z-index:99;
}

.modal{
  /* arbitrary styling */
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  height:auto;
  width:700px;
 
  /* change position to fixed if you want to prevent the dialog from scrolling away, and center it */
  position:fixed;
  top:50%;
  left:50%;
  margin-left: 10px;
  margin-top:-100px;
}


.map{
    height:200px;
	width:300px;
	margin:0 auto;
	float:right;
    border:2px solid #999 !important;
    -webkit-box-shadow: 0 0 5px #999 !important;
    -moz-box-shadow: 0 0 5px #999 !important;
    box-shadow: 0 0 5px #999 !important; 
}


<!--tabela-->
.content .tabelas tr td{
	padding:5px; 
	border:1px solid #DDD;
	border-top:0;
	border-left:0;
}
.content .tabelas tr:hover td{
	background:#FFF3E8;
}
	
.content .tabelas tr td a{
	font:12px "Terminal Dosis", Arial, Helvetica, sans-serif; 
	color:#F90;
	margin:0;
	padding:0;
	text-decoration:none;
	background:none;
}
.content .tabelas tr td a:hover{
	text-decoration:underline;
}
.content .tabelas .set td{
	background:#DDD; 
	font-weight:bold;
}
.content .tabelas .set:hover td{
	background:#DDD;
}
.content .tabelas tr .nb{border-right:0;
}



/*FORMS da pesquisa por numero ou data*/
.content .pesquisa {
	width:480px;
	float:right;

}
.content .pesquisa form {
	padding:8px; 
	margin:5px; 
	width:480px;
	border-radius:2px;
	box-shadow: 1px 0px 1px 1px rgba(0,0,0,0.1);
	border-bottom:1px solid #CCC;
	float:right;
}
.content .pesquisa form label {
	border:none;
	font:12px Arial, Helvetica, sans-serif; 
	color:#333;
}
.content .pesquisa form  span {
	border:none;
	font:12px Arial, Helvetica, sans-serif; 
	color:#333;
}
.content .pesquisa form select  {  
	border:1px solid #CCC;
	height:30px; 
	padding:2px;
	border-radius:5px;
	font:11px Arial, Helvetica, sans-serif; 
	color:#333;
	width:auto;
	display:inline;
}
.content .pesquisa form input  {  
	border:1px solid #CCC;
	height:20px; 
	padding:2px;
	border-radius:5px;
	font:11px Arial, Helvetica, sans-serif; 
	color:#333;
	width:auto;
	display:inline;
}

.content .pesquisa form .enviar {
	float:right; 
	height:25px; 
	padding:5px;
	margin:0 5px;
	background:#F90;
	border-radius:2px; 
	font:13px "Terminal Dosis", Geneva, sans-serif; 
	text-transform:uppercase;
	color:#FFF;
	text-shadow:1px 1px 1px #1D1C1C;
	text-decoration:none;
	opacity:1;
}
.content .pesquisa form .enviar:hover {
	opacity: 0.7; 
	filter:alpha(opacity = 70); 
	cursor:pointer;
}


<!--/mapa geolocalizacao-->
.content .mapa {
	padding:5px; 
	height:335px; 
	width:750px;
	margin:5px auto;
	padding:10px;
	background:#FFF;
	border:1px solid #EEE;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	margin-top:50px;
	margin-bottom:20px;
}

.content .mapa h2 {
	width:770px;
	font:13px "Terminal Dosis", Arial, Helvetica, sans-serif; 
	color:#666;
	margin:5px 0 0 0;
	padding:2px 5px 4px 4px;
	margin-left:13px;
	z-index:99;
	text-align:center;
}


.content .grafico  {
	height:210px; 
	width:368px;
	margin:15px 5px 5px 5px;
	float:left;
	padding:10px;
	background:#FFF;
	border:1px solid #EEE;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.content .grafico2  {
	height:auto; 
	width:765px;
	margin:15px 5px 5px 5px;
	float:left;
	padding:10px;
	background:#FFF;
	border:1px solid #EEE;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}



<!--/mapa geolocalizacao-->
.content #mapholder {
	width:770px;
	margin:10px auto;
	padding:10px;
	background:#FFF;
	border:1px solid #DDD;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	text-align:center;
	margin-bottom:20px;
}



/*TABELAS PÁGINAS - Controla a formatação de tabelas nas páginas*/
.tabelaspg {
	border:1px solid #DDD; 
	border-bottom:0;
	border-right:0;
	font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	margin:15px 0 15px 13px;
	clear:both;
}
.tabelaspg tr td{
	padding:5px; 
	border:1px solid #DDD;
	border-top:0;
	border-left:0;
}

.tabelaspg tr:hover td{
	background:#FFF3E8;
}
.tabelaspg tr td a{
	font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color:#F90; 
	text-decoration:none;
	background:none;
}
.tabelaspg tr td a:hover{text-decoration:underline;}
.tabelaspg .set td{
	background:#F4F4F4;
	font-weight:bold;
	text-align:center;
}
.tabelaspg tr .nb{border-right:0;}
.tabelaspg img {max-width:18px; height:18px; opacity:1;}
.tabelaspg img:hover {opacity:0.5;}

.tabelaspg td.vermelho {
	background:#FFF;
	color:#F9080C;
	text-align:right;
}


.scrool {
	 border:1px solid #DDD; 
	 overflow-y: scroll;
	 overflow-X:hidden;
	 height:500px;
	 width:770px;
	 margin:10px auto;
	padding:10px;
	background:#FFF;
	border:1px solid #DDD;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	text-align:center;
	margin-bottom:20px;
}


 

/*menu - menu na aba lateral*/
.sidebar {
	width:182px; 
	float:right;
	margin:5px 0px 5px 5px; 
	min-height:500px;
	background:#FFF;
	border:1px solid #DDD;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	padding:2px;
}
.sidebar h1 {
	width:150px;
	border-bottom:1px solid #CCC; 
	font:18px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color:#666; 
	margin:5px 0 0;
	padding:2px 5px 4px 4px;
	margin-left:14px;
}
.sidebar h2 {
	width:150px;
	font:15px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color:#666; 
	margin:5px 0 0;
	padding:2px 5px 4px 4px;
	text-align:center;
	margin:0 auto;
}
.sidebar ul{
	list-style:none;
	margin:0 0 5px 15px;
	padding:0; 
	float:left;
}
.sidebar ul li{
	font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	float:left;
	color:#333;
}
.sidebar ul li a{
	font:13px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	text-decoration:none;
	color:#333;
	float:left;
	width:130px;
	border-bottom:1px solid #EEE;
	padding:3px 0 5px 0;
}
.sidebar ul li a:hover{
	background:#EEE;
}
.sidebar ul .titulo{
	padding:3px 0 0 5px;
	float:left;
	font:16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:3px 0 0 0;
	width:140px;
	color:#069;
}

.sidebar ul li p{
	float:right;
	font:10px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	text-shadow:1px 1px 1px #DDD;
	color:#191818;
	background:#CCCBCB;
	text-align:right;
	width:32px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.sidebar ul li .atencao{
	float:right;
	font:10px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	text-shadow:1px 1px 1px #DDD;
	color:#F9080C;
	background:#CCCBCB;
	text-align:right;
	width:32px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}



/*FOOTER - Controla o rodapé do site*/
.footer {
	width:1000px;
	height:60px;
	margin:0 auto 15px auto; 
	text-align:center;
	display:block; 
	font:15px "Terminal Dosis", Verdana, Arial;
	padding:15px;
	margin-top:2px;
	background:#FFF;
	text-shadow:1px 1px 1px #DDD;
	color:#000;
	clear:both;
	box-shadow: 5px 0px 2px 2px rgba(0,0,0,0.2);
}

/*MENSAGNS - Controla as mensagens de erros*/
.msgError {
	width:400px;
	height:20px;
	font:15px "Terminal Dosis", Verdana, Arial;
	box-shadow: 5px 0px 2px rgba(0,0,0,0.2);
	background:#49c5bf;
	color:#FFF;
	border-radius:3px;
	text-align:center;
	padding:10px 0;
	z-index:99;
	position:relative;
	top:20px; 
	margin:0 auto;
}
.msgAcerto {
		width:400px;
	height:20px;
	font:15px "Terminal Dosis", Verdana, Arial;
	box-shadow: 5px 0px 2px rgba(0,0,0,0.2);
	background:#49c5bf;
	color:#FFF;
	border-radius:3px;
	text-align:center;
	padding:10px 0;
	z-index:99;
	position:relative;
	top:20px; 
	margin:0 auto;
}
.msgAlerta {width:665px; height:18px; font:16px Verdana, Geneva, sans-serif; color:#333; background:#FFFFD5; border:1px solid #FF0; border-radius:3px;}
.msgAlerta {text-align:center; padding:10px 0; z-index:99; position:relative; top:15px; left:35px;}

/*INTERNA - Formatação dos demais itens*/
.paginacao {text-align:center; margin:15px 15px 40px 0;}
.paginacao a {font: 16px "Terminal Dosis", Arial, Helvetica, sans-serif; color:#333; text-decoration:none; padding:10px;}
.paginacao .atv {background:#F90; color:#FFF; padding:5px; font:bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;}

